$Yellow           : hsl(47, 88%, 63%);
$White            : hsl(0, 0%, 100%);
$Black            : hsl(0, 0%, 0%);
$Gray-500         : hsl(0, 0%, 42%);
$Gray-950         : hsl(0, 0%, 7%);
$blue-color       : hsl(228, 45%, 44%);

$default-font     : 1rem; // 16px
$font-12          : 0.75rem; // 12px
$font-14          : 0.875rem; // 14px
$font-20          : 1.25rem; // 20px
$font-24          : 1.5rem; // 24px

$border-radius-s  : 4px;
$border-radius    : 10px;
$border-radius2   : 20px;

$spacing-300      : 1.5rem; // 24px
$spacing-150      : 0.75rem; // 12px
$spacing-100      : 0.5rem; // 8px
$spacing-50       : 0.25rem; // 4px

$line-height-150  : 1.5; // 150%
$word-spacing-med : 0.094rem; // 1.5px