@use "../abstract/variables" as var;
@use "../abstract/mixins" as mixs;

// TO DO
// clamp paddings?
// use local fonts NOT GOOGLE
// hover state
// make hover transition smoothly

:root {
  --default-font      : #{var.$default-font};
  --font-12           : #{var.$font-12};
  --font-14           : #{var.$font-14};
  --font-20           : #{var.$font-20};
  --font-24           : #{var.$font-24};
  --line-height-150   : #{var.$line-height-150};
  --bg-white          : #{var.$White};
  --bg-black          : #{var.$Black};
  --bg-yellow         : #{var.$Yellow};
  --bg-gray-light     : #{var.$Gray-500};
  --bg-gray-dark      : #{var.$Gray-950};
  --color-yellow      : #{var.$Yellow};
  --color-gray-light  : #{var.$Gray-500};
  --color-gray-dark   : #{var.$Gray-950};
  --border-radius-s   : #{var.$border-radius-s};
  --border-radius     : #{var.$border-radius};
  --border-radius2    : #{var.$border-radius2};
  --spacing-300       : #{var.$spacing-300};
  --spacing-150       : #{var.$spacing-150};
  --spacing-100       : #{var.$spacing-100};
  --spacing-50        : #{var.$spacing-50};
  --word-spacing-med  : #{var.$word-spacing-med};
  --clamp-description : clamp(var(--font-14), 2vw, var(--default-font));
  --clamp-small       : clamp(var(--font-12), 2vw, var(--font-14));
  --clamp-heading     : clamp(var(--font-20), 2vw, var(--font-24));
  }

*,
*::before,
*::after {
  box-sizing : border-box;
  }

body {
  font-size        : var(--default-font);
  background-color : var(--bg-yellow);
  font-weight      : 400;
  color            : var(--color-gray-dark);
  @include mixs.figtree-font;
  display          : flex;
  justify-content  : center;
  align-items      : center;
  height           : 100vh;
  flex-direction   : column;
  
  main {
	margin-top : var(--spacing-150);
    padding-left: var(--spacing-150);
    padding-right: 1rem;
	}
  
  @media (min-width : 31.25em) {
	& main {
	  margin-top : var(--spacing-300);
	  }
	& {
	  height : 100vh;
	  }
	}
	
	
  }