@use '../abstract/variables' as var;

@import './css/vendor/normalize.min.css';

body {
  font-size: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}