.blog-card {
  background-color : var(--bg-white);
  border           : 1px solid var(--color-gray-dark);
  width            : 100%;
  max-width        : 19.188rem;
  border-radius    : var(--border-radius2);
  display          : flex;
  flex-direction   : column;
  gap              : 1.25rem;
  filter           : drop-shadow(8px 8px 0px rgba(0, 0, 0, 100%));
  padding          : var(--clamp-padding);
  margin-left      : var(--clamp-margin);
  margin-right     : var(--clamp-margin);
  
  @media (min-width : 23.438em) {
	& {
	  max-width : 21.5rem;
	  }
	}
  
  @media (min-width : 90em) {
	& {
		
	  }
	}
  
  &__image {
	margin : 0;
	
	img {
	  text-align    : center;
	  border-radius : var(--border-radius);
	  width         : 100%;
	  height        : auto;
	  }
	}
  
  &__tag {
	background-color : var(--bg-yellow);
	font-size        : var(--clamp-small);
	padding          : 0.25rem 0.75rem;
	font-weight      : 800;
	border-radius    : var(--border-radius-s);
	}
  
  &__date {
	margin-top : 1.25rem;
	display    : block;
	font-size  : var(--clamp-small);
	}
  
  &__btn {
	transition : color 0.1s ease-in-out;
	
	&:hover {
	  color : var(--color-yellow);
	  }
	}
  
  &__title {
	font-weight : 900;
	color       : var(--bg-gray-dark);
	font-size   : var(--clamp-heading);
	transition  : color 0.1s ease-in-out;
	}
  
  &__description {
	font-size    : var(--clamp-description);
	color        : var(--color-gray-light);
	line-height  : var(--line-height-150);
	word-spacing : var(--word-spacing-med);
	}
  
  &__footer {
	
	display         : flex;
	flex-direction  : row;
	justify-content : start;
	align-items     : center;
	gap             : 10px;
	
	img {
	  width     : 100%;
	  max-width : 32px;
	  height    : auto;
	  }
	  
	}
  
  &__author {
	font-size   : var(--font-14);
	font-weight : 900;
	}
	
  }

